<div class="login-container">
    <div class="login-box">
        <h1>MeuPortfolio</h1>
        <p class="subtitle"> Gerencie seus investimentos</p>

        <form (ngSubmit)="onLogin()" >
            <div class="form-group">

                <label for="email">Email</label>
                <input type="email" name="email" id="email" [(ngModel)]="email" placeholder="seu@email.com" required>

            </div>

            <div class="form-group">

                <label for="password">Senha</label>
                <input type="password" name="password" id="password" [(ngModel)]="password" placeholder="Sua senha"
                    required>
            </div>

            <button type="submit" [disabled]="isLoading">
                {{ isLoading ? 'Entrando...' : 'Entrar'}}
            </button>

            @if (error) {
            <div class="error-message">
                {{ error }}
            </div>
            }

            <p class="register-link">
                Não tem uma conta? <a routerLink="/register">Registre-se aqui</a>
            </p>

        </form>
    </div>
</div>